@charset "utf-8";

/* cssリセット */

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4f260b;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

.wrap {
    overflow: hidden;
}

/*ヘッダー*/
.header_wrap {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 7% 0 2.8%;
    box-sizing: border-box;
}

.header_logo {
    width: 225px;
}

.pc_nav ul {
    display: flex;
}

.pc_nav ul li {
    width: 105px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    text-align: center;
}

.pc_nav ul li + li {
    margin-left: 55px;
}

/*ハンバーガー*/
.sp_nav,
.sp_btn {
    display: none;
}

@media screen and (max-width: 1100px) {
    .pc_nav {
        display: none;
    }
    /*３本線*/
    .sp_btn {
        display: block;
        position: absolute;
        top: 20px;
        right: 25px;
        height: 23px;
        cursor: pointer;
        z-index: 2;
    }

    .sp_btn span {
        display: block;
        position: relative;
        top: 10px;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background: #fff;
        transition: 0.3s;
    }

    .sp_btn span::before,
    .sp_btn span::after {
        content: "";
        display: block;
        position: absolute;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background: #fff;
        transition: 0.3s;
    }

    .sp_btn span::before {
        bottom: 10px;
    }

    .sp_btn span::after {
        top: 10px;
    }

    /*ハンバーガー閉じる*/
    .sp_btn.open span {
        background: transparent;
    }

    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    .sp_btn.open span::after {
        top: 0;
        transform: rotate(135deg);
    }

    /*ハンバーガーメニュー*/
    .sp_nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }

    .sp_nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .sp_nav ul li {
        padding: 20px 0;
        color: #fff;
        font-size: 18px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
            "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
        text-align: center;
    }
}

/*ここから課題*/
body {
    background: #e8d9bf;
}

.section_wrap {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

.section_heading {
    text-align: center;
}

.lead {
    font-size: 30px;
    margin: 100px 0 40px;
}

.section_heading h2 {
    font-size: 82px;
    line-height: 1.17;
    font-weight: 400;
    letter-spacing: 0.1em;
    margin-bottom: 30px;
}

.lead2 {
    font-size: 23px;
    line-height: 1.65;
    letter-spacing: 0.1em;
    margin-bottom: 90px;
}

.sp_lead2 {
    display: none;
}

@media screen and (max-width: 1100px) {
    .lead {
        font-size: 1.5em;
    }

    .section_heading h2 {
        font-size: 4em;
    }

    .lead2 {
        font-size: 1em;
    }
}

@media screen and (max-width: 767px) {
    .lead2 {
        display: none;
    }

    .section_wrap {
        width: 100%;
        margin: 0 auto;
        padding: 1em 0;
        padding-top: 0;
    }

    .lead {
        font-size: 17px;
        margin-top: 38px;
        margin-bottom: 20px;
    }

    .section_heading h2 {
        font-size: 35px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .sp_lead2 {
        display: block;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.1em;
        margin: 0 auto;
        margin-bottom: 60px;
    }

    .sp_lead2 span {
        display: inline-block;
    }
}
/*ABOUT US*/
.section_about {
    display: flex;
}

.about_main {
    width: 500px;
}

.about_main img {
    border-radius: 0 0 70px 0;
}

.about_wrap {
    margin-left: 70px;
    margin-top: 50px;
    width: 41%;
}

.about_logo {
    width: 272px;
}

.about_wrap h3 {
    font-size: 44px;
    line-height: 1.38;
    font-weight: normal;
    margin: 40px 0 15px;
}

.about_wrap p {
    font-size: 16px;
    line-height: 1.62;
}

.sp_about_wrap {
    display: none;
}

@media screen and (max-width: 1100px) {
    .about_wrap h3 {
        font-size: 2.1em;
    }

    .about_wrap p {
        font-size: 1vw;
    }
}

/*SP_ABOUT US*/

@media screen and (max-width: 767px) {
    .about_main {
        display: none;
    }

    .about_wrap {
        display: none;
    }

    .sp_about_wrap {
        display: block;
    }

    .about_logo {
        margin: 0 auto;
        margin-bottom: 14px;
        width: 160px;
    }

    .about_text {
        width: 335px;
        margin: 0 auto;
    }

    .sp_about_wrap h3 {
        font-size: 36px;
        line-height: 1.25;
        font-weight: normal;
        margin-top: 35px;
        margin-bottom: 25px;
    }

    .sp_about_wrap p {
        font-size: 16px;
        line-height: 1.75;
        margin: 0 auto;
        margin-bottom: 45px;
        text-align: justify;
    }
}
/*MENU*/
.section_menu {
    margin-top: 100px;
}

.menu_logo {
    width: 151px;
    margin: 0 auto;
}

.menu_wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.service {
    width: 30%;
}

.service_menu img {
    width: 300px;
    border-radius: 0 40px 0 0;
}

.service h3 {
    font-size: 38px;
    font-weight: normal;
    color: #d30202;
    margin-top: -13px;
    padding-left: 13px;
}

.service p {
    font-size: 17px;
    line-height: 1.47;
    margin-top: 15px;
}

/*SP_MENU*/
@media screen and (max-width: 767px) {
    .section_wrap {
        padding: 0;
    }

    .section_menu {
        margin-top: 0;
    }

    .menu_logo {
        width: 87px;
    }

    .menu_wrap {
        display: block;
        margin-top: 20px;
    }

    .service {
        margin: 0 auto;
        margin-bottom: 55px;
        width: 300px;
    }

    .service h3 {
        font-size: 40px;
    }

    .service p {
        line-height: 1.58;
        margin-top: 30px;
    }
}

/*GALLERY*/
.section_gallery {
    margin-top: 85px;
}

.gallery_logo {
    width: 245px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.gallery_images {
    display: flex;
}

/*SP_GALLERY*/
@media screen and (max-width: 767px) {
    .gallery_logo {
        width: 142px;
    }
}

/*EVENT*/

.section_wrap-event {
    margin-top: 60px;
}

.event_logo {
    width: 173px;
    margin: 0 auto;
}

.event_wrap {
    border: 3px solid #4f260b;
    background: #ffffff;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.event_info {
    margin: 30px;
}

.event_info li {
    font-size: 23px;
    line-height: 1.95;
}

.event_info li time {
    margin-right: 40px;
}

.event_info li a {
    text-decoration: underline;
}

/*SP_EVENT*/
@media screen and (max-width: 767px) {
    .section_wrap-event {
        margin-top: 30px;
    }

    .event_logo {
        width: 100px;
    }

    .event_wrap {
        margin: 0 auto;
        margin-top: 20px;
        width: 335px;
    }

    .event_info li {
        font-size: 16px;
    }

    .event_info li a {
        display: block;
        max-width: 291px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
/*ACCESS*/

.section_access {
    margin-top: 70px;
}

.access_logo {
    width: 213px;
    margin: 40px auto;
}

iframe {
    width: 100%;
    height: 470px;
}

/*SP_ACCESS*/
@media screen and (max-width: 767px) {
    .section_access {
        margin-top: 30px;
    }

    .access_logo {
        width: 124px;
        margin-bottom: 10px;
    }

    iframe {
        height: 191px;
    }
}
/*フッター*/
footer {
    background: #ffffff;
    padding-bottom: 70px;
    margin-top: -5px;
}

.footer_wrap {
    display: flex;
    max-width: 1000px;
    padding: 70px 10px;
    margin: 0 auto;
}

.footer_logo {
    width: 226px;
}

.pc_footer li {
    font-size: 20px;
    color: #000000;
    line-height: 1.95;
    margin-left: 60px;
}

footer p {
    font-size: 16px;
    color: #000000;
    text-align: center;
}

/*SP_フッター*/
@media screen and (max-width: 767px) {
    footer {
        padding-bottom: 35px;
    }

    .footer_wrap {
        display: block;
        padding: 0;
        padding-top: 45px;
        padding-bottom: 40px;
        margin-left: 12px;
    }

    .footer_logo {
        margin-bottom: 27px;
    }

    .pc_footer li {
        font-size: 18px;
        line-height: 1.72;
        margin-left: 0;
    }
}
/*ページトップ*/
.page_top {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 125px;
}

/*SP_ページトップ*/
@media screen and (max-width: 767px) {
    .page_top {
        right: 12px;
        bottom: 204px;
        width: 100px;
        z-index: 3;
    }
}
